.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.929199;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.731445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.860352;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{width:1.296000px;}
._d{width:5.376000px;}
._6{width:8.688000px;}
._e{width:9.696000px;}
._c{width:12.624000px;}
._4{width:57.504000px;}
._2{width:122.112000px;}
._3{width:123.936000px;}
._0{width:158.976000px;}
._b{width:179.904000px;}
._9{width:232.512000px;}
._8{width:247.824000px;}
._7{width:282.864000px;}
._a{width:501.696000px;}
._1{width:853.056000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.y0{bottom:50.000000px;}
.y1a{bottom:54.073020px;}
.y1f{bottom:54.922995px;}
.y1e{bottom:60.831001px;}
.y1d{bottom:119.015003px;}
.y1c{bottom:133.561005px;}
.y1b{bottom:148.107003px;}
.y19{bottom:219.847987px;}
.y18{bottom:247.387993px;}
.y17{bottom:261.157993px;}
.y16{bottom:274.927994px;}
.y15{bottom:288.697993px;}
.y14{bottom:330.007991px;}
.y13{bottom:343.778010px;}
.y12{bottom:357.547999px;}
.y11{bottom:371.317988px;}
.y10{bottom:385.088008px;}
.yf{bottom:412.627995px;}
.ye{bottom:426.397995px;}
.yd{bottom:440.167994px;}
.yc{bottom:467.708003px;}
.yb{bottom:509.018001px;}
.ya{bottom:536.557994px;}
.y9{bottom:550.327998px;}
.y8{bottom:564.098002px;}
.y7{bottom:577.868007px;}
.y6{bottom:591.638003px;}
.y5{bottom:632.948001px;}
.y4{bottom:646.718001px;}
.y21{bottom:681.214999px;}
.y3{bottom:687.622001px;}
.y2{bottom:699.121000px;}
.y20{bottom:708.755000px;}
.y1{bottom:710.620000px;}
.h2{height:28.750000px;}
.h5{height:31.625000px;}
.h6{height:32.033203px;}
.h3{height:34.945312px;}
.h4{height:158.800003px;}
.h1{height:167.500000px;}
.h0{height:792.000000px;}
.w2{width:226.200015px;}
.w1{width:479.500000px;}
.w0{width:612.000000px;}
.x7{left:25.087000px;}
.xa{left:66.250000px;}
.x9{left:69.999000px;}
.x0{left:71.500000px;}
.x6{left:79.481997px;}
.x8{left:82.834002px;}
.xc{left:85.580997px;}
.xb{left:97.516002px;}
.x3{left:108.000000px;}
.x2{left:148.500000px;}
.xe{left:170.042999px;}
.xd{left:240.897003px;}
.x4{left:280.837006px;}
.x5{left:330.250000px;}
.x1{left:360.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{width:1.728000pt;}
._d{width:7.168000pt;}
._6{width:11.584000pt;}
._e{width:12.928000pt;}
._c{width:16.832000pt;}
._4{width:76.672000pt;}
._2{width:162.816000pt;}
._3{width:165.248000pt;}
._0{width:211.968000pt;}
._b{width:239.872000pt;}
._9{width:310.016000pt;}
._8{width:330.432000pt;}
._7{width:377.152000pt;}
._a{width:668.928000pt;}
._1{width:1137.408000pt;}
.fs0{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.y0{bottom:66.666667pt;}
.y1a{bottom:72.097359pt;}
.y1f{bottom:73.230660pt;}
.y1e{bottom:81.108002pt;}
.y1d{bottom:158.686671pt;}
.y1c{bottom:178.081340pt;}
.y1b{bottom:197.476004pt;}
.y19{bottom:293.130650pt;}
.y18{bottom:329.850657pt;}
.y17{bottom:348.210658pt;}
.y16{bottom:366.570658pt;}
.y15{bottom:384.930658pt;}
.y14{bottom:440.010654pt;}
.y13{bottom:458.370680pt;}
.y12{bottom:476.730666pt;}
.y11{bottom:495.090651pt;}
.y10{bottom:513.450677pt;}
.yf{bottom:550.170659pt;}
.ye{bottom:568.530660pt;}
.yd{bottom:586.890659pt;}
.yc{bottom:623.610671pt;}
.yb{bottom:678.690667pt;}
.ya{bottom:715.410659pt;}
.y9{bottom:733.770664pt;}
.y8{bottom:752.130670pt;}
.y7{bottom:770.490676pt;}
.y6{bottom:788.850671pt;}
.y5{bottom:843.930668pt;}
.y4{bottom:862.290668pt;}
.y21{bottom:908.286666pt;}
.y3{bottom:916.829334pt;}
.y2{bottom:932.161334pt;}
.y20{bottom:945.006667pt;}
.y1{bottom:947.493333pt;}
.h2{height:38.333333pt;}
.h5{height:42.166667pt;}
.h6{height:42.710938pt;}
.h3{height:46.593750pt;}
.h4{height:211.733337pt;}
.h1{height:223.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:301.600020pt;}
.w1{width:639.333333pt;}
.w0{width:816.000000pt;}
.x7{left:33.449333pt;}
.xa{left:88.333333pt;}
.x9{left:93.331999pt;}
.x0{left:95.333333pt;}
.x6{left:105.975997pt;}
.x8{left:110.445337pt;}
.xc{left:114.107995pt;}
.xb{left:130.021336pt;}
.x3{left:144.000000pt;}
.x2{left:198.000000pt;}
.xe{left:226.723999pt;}
.xd{left:321.196004pt;}
.x4{left:374.449341pt;}
.x5{left:440.333333pt;}
.x1{left:480.000000pt;}
}
