.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.929199;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{width:1.452000px;}
._4{width:7.084000px;}
._7{width:8.448000px;}
._8{width:14.564000px;}
._6{width:33.088000px;}
._3{width:104.588000px;}
._2{width:119.504000px;}
._0{width:143.748000px;}
._1{width:983.576000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:40.000000px;}
.fs1{font-size:44.000000px;}
.fs2{font-size:48.000000px;}
.y13{bottom:2.331000px;}
.y10{bottom:3.269000px;}
.y20{bottom:101.970025px;}
.y1f{bottom:171.596002px;}
.y1e{bottom:186.142022px;}
.y1d{bottom:200.688012px;}
.y1c{bottom:240.876995px;}
.y1b{bottom:253.525994px;}
.y1a{bottom:278.824001px;}
.y19{bottom:291.473003px;}
.y18{bottom:304.122003px;}
.y17{bottom:329.420007px;}
.y16{bottom:342.068994px;}
.y15{bottom:354.718011px;}
.y14{bottom:367.366998px;}
.y0{bottom:390.500000px;}
.y12{bottom:390.834005px;}
.y11{bottom:403.983006px;}
.yf{bottom:417.132006px;}
.ye{bottom:445.260998px;}
.yd{bottom:457.909997px;}
.yc{bottom:483.208001px;}
.yb{bottom:521.155007px;}
.ya{bottom:546.452996px;}
.y9{bottom:559.101998px;}
.y8{bottom:571.751000px;}
.y7{bottom:584.400002px;}
.y6{bottom:597.048997px;}
.y5{bottom:634.996003px;}
.y4{bottom:647.645001px;}
.y3{bottom:687.622001px;}
.y2{bottom:699.121000px;}
.y1{bottom:710.620000px;}
.h4{height:12.649000px;}
.h2{height:29.121094px;}
.h3{height:32.033203px;}
.h5{height:34.359375px;}
.h1{height:40.000000px;}
.h0{height:792.000000px;}
.w3{width:92.000000px;}
.w2{width:106.050003px;}
.w4{width:114.349998px;}
.w1{width:443.500000px;}
.w0{width:612.000000px;}
.x3{left:5.150000px;}
.x2{left:72.000000px;}
.x7{left:90.000000px;}
.x0{left:102.000000px;}
.x4{left:223.449999px;}
.x5{left:315.950006px;}
.x1{left:360.000000px;}
.x8{left:362.382004px;}
.x6{left:430.800013px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{width:1.936000pt;}
._4{width:9.445333pt;}
._7{width:11.264000pt;}
._8{width:19.418667pt;}
._6{width:44.117333pt;}
._3{width:139.450667pt;}
._2{width:159.338667pt;}
._0{width:191.664000pt;}
._1{width:1311.434667pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:58.666667pt;}
.fs2{font-size:64.000000pt;}
.y13{bottom:3.108000pt;}
.y10{bottom:4.358667pt;}
.y20{bottom:135.960033pt;}
.y1f{bottom:228.794669pt;}
.y1e{bottom:248.189363pt;}
.y1d{bottom:267.584016pt;}
.y1c{bottom:321.169327pt;}
.y1b{bottom:338.034659pt;}
.y1a{bottom:371.765335pt;}
.y19{bottom:388.630671pt;}
.y18{bottom:405.496003pt;}
.y17{bottom:439.226676pt;}
.y16{bottom:456.091991pt;}
.y15{bottom:472.957348pt;}
.y14{bottom:489.822664pt;}
.y0{bottom:520.666667pt;}
.y12{bottom:521.112007pt;}
.y11{bottom:538.644007pt;}
.yf{bottom:556.176008pt;}
.ye{bottom:593.681330pt;}
.yd{bottom:610.546663pt;}
.yc{bottom:644.277335pt;}
.yb{bottom:694.873343pt;}
.ya{bottom:728.603995pt;}
.y9{bottom:745.469331pt;}
.y8{bottom:762.334667pt;}
.y7{bottom:779.200003pt;}
.y6{bottom:796.065329pt;}
.y5{bottom:846.661338pt;}
.y4{bottom:863.526669pt;}
.y3{bottom:916.829334pt;}
.y2{bottom:932.161334pt;}
.y1{bottom:947.493333pt;}
.h4{height:16.865334pt;}
.h2{height:38.828125pt;}
.h3{height:42.710938pt;}
.h5{height:45.812500pt;}
.h1{height:53.333333pt;}
.h0{height:1056.000000pt;}
.w3{width:122.666667pt;}
.w2{width:141.400004pt;}
.w4{width:152.466665pt;}
.w1{width:591.333333pt;}
.w0{width:816.000000pt;}
.x3{left:6.866667pt;}
.x2{left:96.000000pt;}
.x7{left:120.000000pt;}
.x0{left:136.000000pt;}
.x4{left:297.933332pt;}
.x5{left:421.266675pt;}
.x1{left:480.000000pt;}
.x8{left:483.176005pt;}
.x6{left:574.400017pt;}
}
